<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>10</string>
					<key>EndingLineNumber</key>
					<string>181</string>
					<key>LocationEncoding</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>10</string>
					<key>StartingLineNumber</key>
					<string>181</string>
					<key>Timestamp</key>
					<string>708455994.633401</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/Spartan-cniixqqycjwwaocfpdlmyrrtaujc/SourcePackages/checkouts/PrivateKits/Sources/AssetCatalogWrapper/AssetCatalogWrapper.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>        return dragItem
    }
    #endif</string>
				<key>trailing</key>
				<string>
    
    /// The idiom, aka the platform target, of a Rendition
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
